node_modules/
backend/node_modules/
frontend/node_modules/
*.pdf
.env
serviceAccountKey.json
backend/serviceAccountKey.json
backend/serviceAccountKey.json.json
backend/testDb.js
backend/deployRules.js
logs.zip
logs_dir/
__pycache__/
*.pyc
dist/
.expo/
.env
.env.*
*.env*
.env.local
*.local
node_modules
__pycache__
